/**
 * ALL the UI design credit goes to:
 * https://www.sketchappsources.com/free-source/2676-calendar-template-sketch-freebie-resource.html
 */


/* WRAPPER */

.wrapper {
  position: relative;
  top: 35px;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar"
                       "content";
  width: 100vw; /* unnecessary, but let's keep things consistent */
  height: 50vh;
}

@media screen and (min-width: 850px) {
  .wrapper {
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
  }
}



/* SIDEBAR */

main {
  grid-area: content;
  padding: 48px;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "menu";
}

.menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu__text,.menu_icon{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 850px) {
  .sidebar {
    grid-template-areas: "menu";
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
  }
  
  .menu {
    flex-direction: column;
    align-items: normal;
    justify-content: center;
  }
  .menu__text {
    display: inline-block;
  }

}

/* MAIN */

.toolbar{
 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 40px;
  margin-bottom: 20px;
  color: #3a363d;
}
.calendar{
  color: #3a363d;
}

.calendar__week,
.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
}
.calendar__week {
  grid-auto-rows: 100px;
  text-align: right;
}

.calendar__header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar__day {
  padding: 16px;
}

/* COSMETIC STYLING */

body {
  font-weight: 100;
  color: #A8B2B9;
}
/*leave this sidebar as is , warna masla kare ga. agar sidebar masla kar rahi ho to change karna_Ramlah */
sidebar { 
  background: rgba(0,0,0,1);
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
}

main {
opacity: 70%;
}

.menu__item {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  padding: 16px 16px 16px 14px;
  border-left: 4px solid transparent;
  color: #ffffff;
  text-decoration: none;
  transition: color ease 0.3s;
}

.menu__item:hover {
  font-weight: bold;
}
.menu__icon {
  font-size: 1.3rem;
}
.menu_icon:hover {
  font-weight: bold;
}

@media screen and (min-width: 850px) {
  .menu__icon {
    font-size: 0.9rem;
    padding-right: 16px;
  }
}

.calendar {
  opacity: 0.9;
  background-color: #a295ad;
  border: 1px solid #e1e1e1;
  box-shadow: 5px 5px 46px -17px rgba(255,255,255,0.1), 5px 5px 46px -17px rgba(255,255,255,0.1);
}

.calendar__header > div {
  opacity: 1;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.calendar__day {
  opacity: 1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

.calendar__day:last-child {
  opacity: 1;
  border-right: 0;
}
